*{margin: 0%;padding: 0%;box-sizing: border-box;}

nav{                 /*con esto fijamos el nav*/
    position:sticky;
    top: 0;
    height: 95px;
}
.container-fluid{         /*fondo para el container padre dentro del nav*/
    background: linear-gradient(45deg,#393d42,#393d42,black,black);
    width: 100%;
    
}

.menu{                     /*da borde redondeado al icono del menu desplegable*/
    border-radius: 50%;
}
ul a{                      /*color y espacio entre los link*/
    color: white;
    margin-right: 25px;
    letter-spacing: 7px;
}
#login{                    /*ponemos color al login*/
    color: white;
}
.nav-link:hover{           /*efecto hover a los link*/
    color: #2196f3 !important;
}


#navbarTogglerDemo03{       /*desplazamiento para vista de pantallas chicas*/
    padding:0px 25px 0px 25px;
    transition: 1s;
}
.nav-link{                   /*tamaño y color de letra de los link*/
    font-family:monospace;
}
