<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <img class="img-fluid" src="../../../assets/img/logo.png" width="155"> <!-- el logo argentina programa-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <img class="menu" src="../../../assets/img/menu.png" width="60" style="padding-right: 5px;"> <!--boton que aparece cuando cambia el tamaño de pantalla -->
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="" style="font-size: 25px;">Home</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="" style="font-size: 25px;" >Abou</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="font-size: 25px;">Contacto</a>
          </li>
        </ul>
        <a class="nav-link" href="" style="font-size: 27px;color: white;">login</a>
    </div>
    </div>
  </nav>
  <app-presentacion></app-presentacion>

