<div class="container-fluid" id="presentacion-p" >
    <div class="row" id="row-p">
        <div class="col-lg-5 col-xs-12" id="contenedor-foto">
            <img src="../../../assets/img/photo.jpg" id="foto" width="60%"> 
        </div>
        <div class="col-lg-7 col-xs-12" id="contenedor-info">
            <div class="row" id="info">
                <h1>Maicol Aldair Quispe</h1>
                <h2>Desarrollador Full Stack</h2>
                <p> Hola yo estudio la carrera de analista programador en la
                    Univesidad de Informatica de La Plata, actualmente desarrollando mis
                    habilidades en programacion, fanatico de la blockchain y finanzas</p>
            </div>
        </div>
    </div>
</div>