<div class="container-fluid" id="presentacion-p" >
    <div class="row" id="row-p">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="foto">
            <img class="img-fluid" src="../../../assets/img/photo.jpg" id="mi-foto">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" id="info">
            <div class="row">   
                <h1>Maicol Aldair Quispe</h1>
                <h2>Desarrollador Full Stack</h2>
                <p> Soy Nahuel Arancibia, estudio la carrera de analista programador en la
                Univesidad de Informatica de La Plata, actualmente desarrollando mis
                habilidades en programacion, fanatico de la blockchain y finanzas</p>
            </div>
        </div>
    </div>
</div>