*{margin: 0%;padding: 0%;box-sizing: border-box;}
.container-fluid{
    scroll-margin-top: 95px;
}

#row-p{                                                        /*fondo y color del row padrre */
    background: linear-gradient(90deg,#393d42,#393d42,black,black);
    border: 25px solid #2196f3;
    border-bottom: 0;
    width: 100%;
    height: 90vh;
}
div{
    color: white;
}
#mi-foto{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
#foto{
    display: flex;
    justify-content: center;
    align-items: center;
}
#info{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
