*{margin: 0%;padding: 0%;box-sizing: border-box;}

#row-p{                                                        
    background: linear-gradient(90deg,#1a59a7,#277adf,black,black);
    width: 100%;
    height: 90vh;
}